<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Vinay_Expenditure</display-name>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>controller_servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>controller_servlets.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Simple1</display-name>
    <servlet-name>Simple1</servlet-name>
    <servlet-class>controller_servlets.Simple1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Simple1</servlet-name>
    <url-pattern>/Simple1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>l</display-name>
    <servlet-name>k</servlet-name>
    <servlet-class>controller_servlets.HomePage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>k</servlet-name>
    <url-pattern>/homepage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>info</servlet-name>
    <servlet-class>controller_servlets.GetAllInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>info</servlet-name>
    <url-pattern>/allinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>add</servlet-name>
    <servlet-class>controller_servlets.AddExpenditure</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add</servlet-name>
    <url-pattern>/expenditure</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>co</servlet-name>
    <servlet-class>controller_servlets.Cookiee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>co</servlet-name>
    <url-pattern>/cake</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>coo</servlet-name>
    <servlet-class>controller_servlets.CreateCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>coo</servlet-name>
    <url-pattern>/createcake</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>log</servlet-name>
    <servlet-class>controller_servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>log</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>inform</servlet-name>
    <servlet-class>controller_servlets.CopyOfGetAllInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>inform</servlet-name>
    <url-pattern>/inform</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>allexpd</servlet-name>
    <servlet-class>controller_servlets.GetAllExpd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>allexpd</servlet-name>
    <url-pattern>/allexpd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>indimon</servlet-name>
    <servlet-class>controller_servlets.IndividualMonthlyExpense</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>indimon</servlet-name>
    <url-pattern>/indi_mon_exp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>indi</servlet-name>
    <servlet-class>controller_servlets.IndividualExpense</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>indi</servlet-name>
    <url-pattern>/indi_exp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>range</servlet-name>
    <servlet-class>controller_servlets.IndividualRangeExpense</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>range</servlet-name>
    <url-pattern>/IndividualRangeExpense</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AllRangeExpense</servlet-name>
    <servlet-class>controller_servlets.AllRangeExpense</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllRangeExpense</servlet-name>
    <url-pattern>/AllRangeExpense</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AllMonthlyExpense</servlet-name>
    <servlet-class>controller_servlets.AllMonthlyExpense</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllMonthlyExpense</servlet-name>
    <url-pattern>/AllMonthlyExpense</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AllExpense</servlet-name>
    <servlet-class>controller_servlets.AllExpense</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllExpense</servlet-name>
    <url-pattern>/AllExpense</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateNewDatabase</servlet-name>
    <servlet-class>controller_servlets.CreateNewDatabase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateNewDatabase</servlet-name>
    <url-pattern>/CreateNewDatabase</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Buttons</servlet-name>
    <servlet-class>controller_servlets.Buttons</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Buttons</servlet-name>
    <url-pattern>/Buttons</url-pattern>
  </servlet-mapping>
</web-app>